<footer>
    <p>Create by {{name}}</p>
</footer>
<!--Here we are asigning the same text to all of the pages we want to use the partial
and we are accessing the name varibale from the object of each hbs file that we set it in 
app.js with the app.get functionality and res.render>